[Unit]
Description=Emacs: the extensible, self-documenting text editor

;; linux: http://blog.refu.co/?p=1296
;; mac: https://gist.github.com/redinger/1394910

[Service]
Type=forking
ExecStartPre=/bin/zsh --login -c 'env > /tmp/.emacs-environment-file'
EnvironmentFile=-/tmp/.emacs-environment-file

ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always

[Install]
WantedBy=default.target